doctype html
html
    head
        meta(charset="utf-8" content="width=device-width, initial-scale=1" name="viewport")
        link(href="app.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")


body

    nav.fixed-top.d-flex.shadow
        a(href="#").logo.me-auto.my-auto
            img.mx-2
            |    乖孫美美
        ul.my-auto
            li.nav-items
                a(href="#").scrolling 首頁
            li.nav-items
                a(href="#Intro") 介紹
            li.nav-items
                a(href="#Use") 操作流程
            li.nav-items
                a(href="#About") 關於我們
    
    .blank
    

    main
        header
            #Home.pages
                div
                    p#title.mb-3 乖孫美美<br>Linebot 
                    dd.
                        親切的聊天機器人可以為您或家中長者設定藥物提醒，<br>讓這件事情不再成為負擔。
                    button.Home-button.btn.my-3(onClick="document.getElementById('About').scrollIntoView();") 更多資訊
        
        section#Intro.pages
            .row.mx-auto
                .col-xs-7.d-flex.justify-content-around.col-sm-6
                    .row#Intro-imgs(onscroll="isScrolledIntoViewHzl(this)")
                        .col(id="Intro-1")
                        .col(id="Intro-2")
                        .col(id="Intro-3")
                .col-xs-5.col-sm-6(id="Intro-texts")
                    h3 01. 簡易操做的使用流程
                    p.mb-5.
                        聊天機器人與Line結合，不必多下載一個APP就能夠使用，並且親切的美美將協助長者完成藥物提醒設定，讓長者再使用過程中：也能感到子女般的關心。
                    h3 02. 降低長者忘記吃藥的問題
                    p.mb-5.
                        研究報告指出長者容易忘記服藥或是服用錯誤的藥物，因此美美將會根據設定好的藥物及時間，定時提醒長者該服用的要，降低忘記吃藥的比例。
                    h3 03. 減緩家中子女的負擔
                    p.mb-5.
                        透過監督人與被監督人的機制，讓子女能夠遠端為家中長輩設定藥物提醒，並且會將服用藥物的狀況即時透過Line回傳給子女，減少子女的擔憂。
                        
                

        section#Use.pages
            p.h2.mb-5.text-center 使用流程
            .mt-5.px-5
                .row.mx-auto   
                    -var i = 0;
                    -var usetext=["上傳<br>不同藥物至linebot", "新增<br>藥物提醒時間", "設定<br>監督人/被監督人", "收到<br>藥物提醒通知", "確認<br>是否服用藥物", "聯絡人收到<br>未服用藥物通知"]
                    while i < 6
                        .col-8.col-md-4.col-xl-2
                            .Use-boxs.shadow
                                i.number= ++i
                                .icon(id="Use-icons-" + i)
                                p !{usetext[i-1]}
                .row
                    button.btn.col-md-3.mx-auto
                        | 開始使用
        
        section#About.pages
            p.h2.mb-5 關於我們
            p.mb-3.
               我們是來自成功大學不同系所的學生，透過使用者介面開發設計及社群網站研究的課程跨領域合作，
                我們結合上課所學及使用者調研產生出藥物提醒聊天機器人。
            .row
                - var name = ["傅立威", "謝秉穎", "蘇柏銜", "李姿儀", "周郁婕", "黃盈慈", "田哲嘉"];
                each dpt, index in ["Linebot工程師", "Linebot工程師", "Linebot工程師", " 設計師", "後端工程師", "前端工程師", "前端工程師"]
                    .col(id="About-grids-"+ (index+1))
                        pre= dpt+ "\n "+ name[index]
        footer
            .d-flex.justify-content-center
                .row.my-auto
                    p © 2021 國立成功大學使用者介面開發設計 & 社群網站開發課程

        script(src="../js/index.js" type="text/javascript")                     