@font-face {
    font-family: Bodoni;
    src: url('../SRC/FONT/BodoniFLF-Bold.ttf');
}


html {
    scroll-behavior: smooth;
}

/* share class */
/* ** page-size ** */ 

body {
    background: #E0E0E0;
    margin: 0;
}

nav {
    margin: 0;
    height: calc((12.5vh+12.5vw)/2);
    width: 100%;
    top: 0%;
}

main {
    margin-top: calc((12.5vh+12.5vw)/2); 
}


main .pages {
    padding: calc((23.75vh + 12.25vw)/4);
    width: 100%;
}

nav, #Intro, #About {
    background-color: #F5F5F5;
}


/* ** object-size ** */ 

img {
    max-width: 100%;
    max-height: 70vh;
}

.title {
    font-size: 5vw;
}




/* each part */
/* ** nav ** */
nav ul {
    margin-right: 3vw;
}

nav a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: calc((2.5vw+2vh)/2);
}

.nav-items, .logo {
    display: inline-block;
    padding: 1vh 1vw;
}

.logo img {
    height: 80%;
}

.nav-items a:hover, .nav-items a img:hover  {
    color: #3A3A3A;
}

.scrolling  {
    text-decoration:underline;
}


/* **Home** */

#Home {
    background: url(../SRC/IMG/homepage.png), #ECB800;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 60vh;
}

/*
@media (max-width: ) {

}*/

#Home div {
    padding: 7vh 10vw;
}

#Home .title {
    font-size: calc((6vw+6vh));
    font-weight: bold;
}

.Home-button {
    border-radius: 20px !important;
    padding: 0.5em 5em !important;
}



/* ** Intro ** */
#Intro p {
    text-align: center;
    color: #3A3A3A;
}

#Intro .wrapper {
    width: 80%;
    display: grid;
    grid-auto-rows: calc((20vw+16vh));
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

@media (max-width: 540px) {
    #Intro .wrapper {
        width: 100%;
    }
}




.Intro-grids {
    position:relative;
}

.Intro-grids img {
    position:relative;
    content:url("../SRC/IMG/intro/scenario.png");
    width: 100%;
    height: 100%;
}
/* **** hover: img, detail **** */
/* **** ** img: black layer over img ** **** */
/* **** ** text: text block over img ** **** */

.overlay-Img {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    margin:0;
    padding:0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
}


.overlay-detail {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;

  color: #fff;
  font-size: 1.5vw;
}

  
.Intro-grids:hover .overlay-Img{
    opacity: 0;
}

.Intro-grids:hover .overlay-detail {
    top: 50%;
    left: 50%;
    opacity: 0;
}



#Use {
    padding: 70px 0 60px;
}
  
#Use .Use-boxs {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 5vh;
}
  
#Use .Use-boxs .number {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-style: normal !important;
    background: #5CA7E5;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 0;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0 rgba(107, 103, 103, 0.52);
}

#Use .Use-boxs .icon {
    font-size: 50px;
    margin: 10px auto;
    height: 1.3em;
}

#Use .Use-boxs #Use-icons-1 {
    background: url('../SRC/IMG/use/how_01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Use .Use-boxs #Use-icons-2 {
    background: url('../SRC/IMG/use/how_02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Use .Use-boxs #Use-icons-3 {
    background: url('../SRC/IMG/use/how_03.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Use .Use-boxs #Use-icons-4 {
    background: url('../SRC/IMG/use/how_04.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Use .Use-boxs #Use-icons-5 {
    background: url('../SRC/IMG/use/how_05.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Use .Use-boxs #Use-icons-6 {
    background: url('../SRC/IMG/use/how_06.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

  
#Use .Use-boxs p {
    font-size: 14px;
}
  
#Use-button {
    border: 1px solid #5CA7E5;
    border-radius: 20px;
    padding: 0.5em 2em;
    background-color: #5CA7E5;
    color: #fff;
}

#Use-button:hover {
    background-color: #fff;
    color: #5CA7E5;
}

#About p{
    text-align: center;
    color: #3A3A3A;
}

#About div {
    height:  calc((15vh + 10vw));
    position: relative;
    filter: grayscale(100%);
}

#About div:hover {
    filter: grayscale(0%);
}

#About div pre {
    display: none;
    position: absolute;
    font-size: 1vw;
    bottom: -5em;
    left: 30%;
}

#About #About-grids-1:hover pre {
    display: block;
}

#About #About-grids-2:hover pre {
    display: block;
}

#About #About-grids-3:hover pre {
    display: block;
}

#About #About-grids-4:hover pre {
    display: block;
}

#About #About-grids-5:hover pre {
    display: block;
}

#About #About-grids-6:hover pre {
    display: block;
}

#About #About-grids-7:hover pre {
    display: block;
}

#About #About-grids-1 {
    background: url('../SRC/IMG/about/color_01.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#About #About-grids-2 {
    background: url('../SRC/IMG/about/color_02.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#About #About-grids-3 {
    background: url('../SRC/IMG/about/color_03.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#About #About-grids-4 {
    background: url('../SRC/IMG/about/color_04.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#About #About-grids-5 {
    background: url('../SRC/IMG/about/color_05.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#About #About-grids-6 {
    background: url('../SRC/IMG/about/color_06.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#About #About-grids-7 {
    background: url('../SRC/IMG/about/color_07.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




















/* ** Skill & footer ** */
footer {
    margin: 0;
    height: calc((12.5vh+12.5vw)/2);
}


footer .row {
    width: 45vw;
    text-align: center;
}

footer p{
    margin: 2em !important;
    font-size: 0.5vw; 
    color: #4D4F52;
}

