extends ../layout.pug
block variables
    - var siteTitle = '我的提醒'
    - var pTitle = '建立藥物提醒'
    - var btnText = '新增提醒'

block append css
    link(href="../../css/landing.css" rel="stylesheet" type="text/css")



block content
    p.
        The problem with Realtimevirus scanners is that they're 
        inherently heavy on the CPU, 
        as they have to hash and comparebr 

    p.row.justify-content-center.mt-5
        img.col-sm-4(src="../../src/img/drugbox.png", alt="")

