extends ../layout.pug
block variables
    - var siteTitle = '我的提醒'
    - var btnText = '新增藥物'

block append css
    link(href="../../css/time.css" rel="stylesheet" type="text/css")


block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="../../js/deleteAlarm.js" type="text/javascript")


block title

block content
    - var i = 0;
    - var data = {'08:00':{img: ['1.jpeg', '2.jpeg', '3.jpeg','1.jpeg', '2.jpeg', '3.jpeg'],name: ['心臟藥', '心臟藥', '心臟藥','心臟藥', '心臟藥', '心臟藥']},'12:00':{img: ['4.jpeg', '5.jpeg', '6.jpeg'],name: ['心臟藥', '心臟藥', '心臟藥']},'13:00':{img: ['1.jpeg', '2.jpeg', '3.jpeg'],name: ['心臟藥', '心臟藥', '心臟藥']}}


        
    each time, key in data
        .time.form-check.form-switch  #{key}
            input.form-check-input(type="checkbox")
        .row.justify-content-around.mx-auto.px-1.med_div
            each img, index in time["img"]
                .med-imgs.col-sm-3.mt-2.pb-5.px-1
                        img(src="../../src/img/notify/"+ img)
                        .med-name.shadow
                            | #{time["name"][index]}
        .row.mx-auto
            input(type="button" value="刪除").deletebtn.col.btn
            input(type="button" value="編輯").editbtn.col.btn
    
    .alert 
        .alertmsg
            img
            p 您確定要刪除這筆通知嗎？
            .row.justify-content-around
                input(type="button" value="取消刪除" onclick="concelDel")#concelDelbtn.col-sm-4.btn
                input(type="button" value="確認刪除" onclick="confirmDel")#confirmDelbtn.col-sm-4.btn

