
body {
    margin: 0;
}
.wrapper {
    width: 100vw;
    max-width: 550px;
}

.title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.5em;
}


button {
    position: fixed;
    bottom: 5em;
    border-radius: 12px  !important;
      
    width: 68vw;
    max-width: 430px;
}


.blank {
    position: fixed;
    bottom: 5em;
    height: 5em;
    width: 100vw;
}


.btnHeight {
    height: 10em;
}