
body {
    margin: 0;
}
.wrapper {
    width: 100vw;
    max-width: 550px;
    padding: 5vw;
}

.content {
    padding: 0;
}

.title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.5em;
}


button {
    position: fixed;
    bottom: 3em;
    border-radius: 12px  !important;

    width: 84vw;
    max-width: 470px;
}


.blank {
    position: fixed;
    left: 0%;
    bottom: 0;
    height: 7em;
    width: 100vw;
    background-color:white;  
}


.btnHeight {
    height: 10em;
}