a {
    background-color: black;
    position: fixed;
    bottom: 5em;
    height: 2.5em;
    width: 70vw;
    max-width: 440px;

    font-size: 1em !important;
    font-weight: normal !important;
    padding-top: 0.7em !important;
    margin-left:   15vw  !important;
    border-radius: 12px  !important;
}

a:hover {
    background-color: white;
    color: black !important;
    border: 1px solid black;
}